$primary-color: #0035a0;
$secondary-color: #f0f0f0;

.headerText {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: $primary-color;
  padding-top: 70px;
}

.profilePage {
  display: block;
}

.profileBox {
  width: 100%;
  background-color: $secondary-color;
  display: block;

  .rating {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      p {
        font-weight: bold;

      }
    }
  }

  .ratingNumber {
    font-size: 2rem;
  }

  p {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
  }
}

.rateButtons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;

  a {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: auto;

    button {
      width: 80%;
      background-color: $primary-color;
      box-shadow: 0 2px 25px $primary-color;
      border: none;
      color: white;
      cursor: pointer;
    }
  }
}
